{{ define "main" }}
<div class="post">
    <h2 class="post-title project-page-title" style="color: #2014ED !important;">{{ .Title }}</h2>
    <div class="post-content">
        {{ .Content }}

        <ul class="projects-list">
            {{ range site.Data.projects.list }}
            <li class="project-item">
                <span class="project-title-wrapper">
                    {{ if .url }}
                    <a href="{{ .url }}" target="_blank" class="project-link">{{ .name }}</a>
                    {{ else }}
                    <span class="project-name">{{ .name }}</span>
                    {{ end }}
                </span>

                {{ if .tags }}
                <span class="project-tags-inline">
                    {{ range .tags }}
                    <span class="project-tag">#{{ . }}</span>
                    {{ end }}
                </span>
                {{ end }}
            </li>
            {{ end }}
        </ul>

    </div>
    <div class="post-footer">
    </div>
</div>
{{ end }}