{{ define "main" }}
<div class="post">
    <h2 class="post-title">{{ .Title }}</h2>
    <div class="post-content">
        {{ .Content }}

        <div class="projects-container">
            {{ range site.Data.projects.list }}
            <div class="project-card">
                <div>
                    <h3 class="project-title">{{ .name }}</h3>
                    <p class="project-description">{{ .desc }}</p>
                    {{ if .tags }}
                    <div class="project-tags">
                        {{ range .tags }}
                        <span class="project-tag">{{ . }}</span>
                        {{ end }}
                    </div>
                    {{ end }}
                </div>
                {{ if .url }}
                <a href="{{ .url }}" target="_blank" class="project-link">View on GitHub</a>
                {{ end }}
            </div>
            {{ end }}
        </div>

    </div>
    <div class="post-footer">
    </div>
</div>
{{ end }}